body {
  /* display: flex; */
  width: 1000px;
  margin: 0% 20%;
  font-family: "Roboto", sans-serif;
  /* align-items: center; */
}
.nav {
  background-color: rgb(52, 50, 50);
  display: flex;
  align-items: flex-start;
  color: white;
}
/* .tit {
} */
.main {
  display: flex;
}
h1 {
  padding-left: 5%;
  text-align: center;
}
.left {
  flex: 1 80%;
}
.right {
  flex: 2 20%;
}
.card {
  padding: 3%;
  border: 2px solid black;
  margin: 3% 0% 3% 3%;
}
.likes {
  display: flex;
  justify-content: space-between;
}
.flexEnd {
  width: 45%;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
p {
  margin: 0%;
  font-size: 30px;
}
button {
  width: 30%;
  height: 60%;
  font-size: 30px;
  background-color: rgb(243, 201, 34);
  box-shadow: 5px 5px black;
}
.personCard {
  border: 2px solid black;
  margin: 11% 3% 3% 0%;
  height: 45%;
  /* vertical-align: bottom; */
}
img {
  display: block;
  width: 40%;
  margin: auto;
}
.personCard a {
  /* margin: 0% 10%; */
  padding-left: 27%;
}
